<h2 id="title">Available rooms</h2>
<div id="form">
<table class="room" style="height: 21px;" width="427" border="0">
  <tbody>
    <tr>
      <td>Room number:</td>
      <td>Bed count:</td>
    </tr>
    <tr *ngFor="let room of rooms">


      <td style="text-align:center;">{{room.RoomNumber}}</td>

      <td style="text-align:center;">{{room.BedCount}}</td>



      <td style="text-align:center;"><button md-raised-button color="primary" type="button" (click)="reserve(room)">Reserve</button></td>
      <td style="text-align:center;"><button md-raised-button color="primary" type="button" (click)="comment(room)">Comment</button></td>

    </tr>
  </tbody>
</table>

<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<table>
      <td>Start date: <input ngModel id="startDate" name="start" type="date" /></td>
      <p></p>
      <td>End date: <input ngModel id="endDate" name="end" type="date" /></td>
  </table>
  </div>