<p>Room:</p>

<form #f="ngForm" (ngSubmit)="createAccomodation(f.value, f)">

<table border="1" cellpadding="1" cellspacing="1" style="width: 300px;">
	<tbody>
		<tr>
			<td>Number:</td>
			<td><input maxlength="25"  name="name" ngModel size="25" type="text" />​​</td>
		</tr>
		<tr>
			<td>Beds:</td>
			<td><input maxlength="25" name="description" ngModel size="25" type="text" /></td>
		</tr>
		<tr>
			<td>Descripton:</td>
			<td>
 				</td>
		</tr>
		
		<tr>
			<td>Price:</td>
			<td><input maxlength="25"  name="address" ngModel size="25" type="text" /></td>
		</tr>
		<tr>
		
	</tbody>
</table>
<input name="addAccomodation" type="submit" value="Add room" />​ 
<input name="goBack" (click)="goBack()" type="button" value="Back" />

</form>

&nbsp; &nbsp;


