<h3>
  {{title}}
  </h3>
  <html>
<head>
	<title></title>
</head>
<body>

<form #f="ngForm" (ngSubmit)="logIn(f.value, f)">
<p [hidden]="isLoggedIn()">Username:&nbsp;<input maxlength="10" name="username" ngModel type="text" /></p>
<p [hidden]="isLoggedIn()">Password: &nbsp;<input maxlength="10" name="password" ngModel type="password" /></p>
<div *ngIf="!isLoggedIn()">
    <button type="submit">Log In!</button>
  </div>
  <div *ngIf="isLoggedIn()">
    <button type="submit">Log Out!</button>
  </div>
</form>

</body>
</html>

<router-outlet></router-outlet>

