<h3>
  {{title}}
  </h3>
  <html>
<head>
	<title></title>
</head>
<body>

<form action="logIn" enctype="text/plain" id="1" method="post" name="login">
<p>Username:&nbsp;<input maxlength="10" id="username"  type="text" /></p>
<p>Password: &nbsp;<input maxlength="10" id="password" type="password" /></p>
</form>

</body>
</html>


  <div *ngIf="!isLoggedIn()">
    <button (click)="logIn()">Log In!</button>
  </div>
  <div *ngIf="isLoggedIn()">
    <button (click)="logOut()">Log Out!</button>
  </div>

<router-outlet></router-outlet>

