<title></title>
<div id="details">
<table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
	<caption>
		<p>&nbsp;</p>

		<p>User details:</p>
	</caption>
	<tbody>
		<tr>
			<td>Email:</td>
			<td>{{email}}</td>
		</tr>
		<tr>
			<td>Username:</td>
			<td>{{username}}</td>
		</tr>
	</tbody>
</table>
</div>

<div>
<p [hidden]="isUserNotManager()"><button id="b1" md-raised-button color="primary" name="addAccomodation"  (click)="addAccomodation()"  >Add accomodation</button> &nbsp; &nbsp;&nbsp;</p>
<p [hidden]="isUserNotAdmin()">	<button id="b2"  md-raised-button color="primary"	name="approveAccomodation"  (click)="approveAccomodation()"  >Approve accomodation</button>&nbsp; &nbsp;&nbsp;</p>
<p [hidden]="isNotUser()">	<button id="b3"  	 md-raised-button color="primary" name="reserveRoom"  (click)="reserveRoom()"  >​Reserve a room</button></p>
<p [hidden]="isUserNotManager()"><button id="b4" md-raised-button color="primary" name="addRooms"  (click)="addRooms()" >Add rooms</button></p>
<p [hidden]="isUserNotAdmin()"> <button  id="b5" md-raised-button color="primary" name="manageManagers"  (click)="manageManagers()"  >Edit managers</button></p>
</div>