<h2 id="title">Available accommondations</h2>

<body>
  <div id="form">
    <table class="accommondation" style="height: 21px;" width="600" border="1">
      <tbody>
        <tr *ngFor="let accommondation of accommondations">
          <td style="text-align:center;">{{accommondation.Name}}</td>
          <td style="text-align:center;">{{accommondation.Address}}</td>
          <td  style="text-align:center;" >
            <button (click)="selectAcc(accommondation)"> See details</button>
          </td>
          <td style="text-align:center;" [hidden]="accommondation.Approved">
            <button (click)="approveAccommondation(accommondation)">Approve</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div id="details" class="container">
      <h4>Details:</h4>
      <table class="accommondation" style="height: 31px;" width="600" border="1">
      <tbody>
        <tr>
          <td style="text-align:center;">{{selected.Name}}</td>
          <td style="text-align:center;">{{selected.Description}}</td>
          <td style="text-align:center;">{{selected.Address}}</td>
          <td style="text-align:center;">{{selected.AverageGrade}}</td>
          <td style="text-align:center;">{{selected.ImageURL}}</td>
          <td style="text-align:center;">{{selected.owner.Username}}</td> 
        </tr>
      </tbody>
    </table>
      <agm-map [latitude]="selected.Latitude" [longitude]="selected.Longitude">
        <agm-marker [latitude]="selected.Latitude" [longitude]="selected.Longitude"></agm-marker>
      </agm-map>
    </div>
  </div>
</body>