<p id="title">Accomodation:</p>

<div id="form" >
<form #f="ngForm"  (ngSubmit)="createAccomodation(f.value, f)">

<table border="1" cellpadding="1" cellspacing="1" style="width: 300px;">
	<tbody>
		<tr>
			<td>Name:</td>
			<td><input maxlength="25"  name="Name" ngModel size="25" type="text" />​​</td>
		</tr>
		<tr>
			<td>Description:</td>
			<td><input maxlength="25" name="Description" ngModel size="25" type="text" /></td>
		</tr>
		<tr>
			<td>Owner:</td>
			<td><select id='ownerDropDown'><option  *ngFor="let user of users" 
    [value]="user.Id">     {{user.Username}}</option>
 				</select></td>
		</tr>
		
		<tr>
			<td>Address:</td>
			<td><input maxlength="25"  name="Address" ngModel size="25" type="text" /></td>
		</tr>
		<tr>
			<td>Avg. grade:</td>
			<td><input maxlength="25" name="AverageGrade" ngModel size="25" type="text" /></td>
		</tr>
		<tr>
			<td>Latitude:</td>
			<td><input maxlength="25"  name="latitude" ngModel size="25" type="text" /></td>
		</tr>
		<tr>
			<td>Longitude:</td>
			<td><input maxlength="25"   name="longitude" ngModel size="25" type="text" /></td>
		</tr>
		<tr>
			<td>Place:</td>
			<td><select  id='placeDropDown'><option *ngFor="let place of places" 
    [value]="place.Id">     {{place.Name}}</option>
 				</select></td>
		</tr>
		<tr>
			<td>Image URL:</td>
			<td><input maxlength="25"  name="ImageUrl" ngModel size="25" type="text" /></td>
		</tr>
				<tr>
		</tr>
	</tbody>
</table>
<p></p>

<button id ="b1" md-raised-button color="primary" name="addAccomodation" type="submit" value="" >​ Add accomodation</button>
<button id = "b2" md-raised-button color="primary" name="goBack" (click)="goBack()"   > Back</button>

</form>
</div>
&nbsp; &nbsp;


