<p>Accomodation:</p>

<table border="1" cellpadding="1" cellspacing="1" style="width: 300px;">
	<tbody>
		<tr>
			<td>Id:</td>
			<td><input maxlength="25" name="id" size="25" type="text" />​​</td>
		</tr>
		<tr>
			<td>Name:</td>
			<td><input maxlength="25" name="name" size="25" type="text" />​​</td>
		</tr>
		<tr>
			<td>Description:</td>
			<td><input maxlength="25" name="description" size="25" type="text" /></td>
		</tr>
		<tr>
			<td>Address:</td>
			<td><input maxlength="25" name="address" size="25" type="text" /></td>
		</tr>
		<tr>
			<td>Avg. grade:</td>
			<td><input maxlength="25" name="avgGrade" size="25" type="text" /></td>
		</tr>
		<tr>
			<td>Latitude:</td>
			<td><input maxlength="25" name="latitude" size="25" type="text" /></td>
		</tr>
		<tr>
			<td>Longitude:</td>
			<td><input maxlength="25" name="longitude" size="25" type="text" /></td>
		</tr>
		<tr>
			<td>Image URL:</td>
			<td><input maxlength="25" name="imageUrl" size="25" type="text" /></td>
		</tr>
	</tbody>
</table>

<p>​<input name="addAccomodation" type="button" value="Add accomodation" />​ &nbsp; &nbsp;<input name="goBack" (click)="goBack()" type="button" value="Back" /></p>
