<p>Accomodation:</p>

<form #f="ngForm" (ngSubmit)="createAccomodation(f.value, f)">

<table border="1" cellpadding="1" cellspacing="1" style="width: 300px;">
	<tbody>
		<tr>
			<td>Id:</td>
			<td><input maxlength="25"  name="id" ngModel size="25" type="text" />​​</td>
		</tr>
		<tr>
			<td>Name:</td>
			<td><input maxlength="25"  name="name" ngModel size="25" type="text" />​​</td>
		</tr>
		<tr>
			<td>Description:</td>
			<td><input maxlength="25" name="description" ngModel size="25" type="text" /></td>
		</tr>
		<tr>
			<td>Owner:</td>
			<td><select id='ownerDropDown'><option  *ngFor="let user of users" 
    [value]="user.Id">     {{user.Username}}</option>
 				</select></td>
		</tr>
		
		<tr>
			<td>Address:</td>
			<td><input maxlength="25"  name="address" ngModel size="25" type="text" /></td>
		</tr>
		<tr>
			<td>Avg. grade:</td>
			<td><input maxlength="25" name="avgGrade" ngModel size="25" type="text" /></td>
		</tr>
		<tr>
			<td>Latitude:</td>
			<td><input maxlength="25"  name="latitude" ngModel size="25" type="text" /></td>
		</tr>
		<tr>
			<td>Longitude:</td>
			<td><input maxlength="25"   name="longitude" ngModel size="25" type="text" /></td>
		</tr>
		<tr>
			<td>Place:</td>
			<td><select  id='placeDropDown'><option *ngFor="let place of places" 
    [value]="place.Id">     {{place.Name}}</option>
 				</select></td>
		</tr>
		<tr>
			<td>Image URL:</td>
			<td><input maxlength="25"  name="imageUrl" ngModel size="25" type="text" /></td>
		</tr>
				<tr>
			<td>Rooms:</td>
			<td><select > <option *ngFor="let room of rooms" 
    [value]="room.Id">     {{room.RoomNumber}}</option>
 				</select></td>
		</tr>
	</tbody>
</table>
<input name="addAccomodation" type="submit" value="Add accomodation" />​ 
<input name="goBack" (click)="goBack()" type="button" value="Back" />
<input name="addRooms" (click)="addRooms()" type="button" value="Add rooms" />
</form>

&nbsp; &nbsp;


