#form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#b1 {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#b2 {
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}